.firstdiv {
  width: 69%;
  margin-left: 50px;
  padding: 21px;
  margin-top: 25px;
}
.mat-icon {
  right: 100px;
}
.div {
  background-color: aliceblue;
  margin-top: 35px;
  border: solid black;
  width: 30%;
  height: 45%;
  margin-left: 511px;
}
